@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

@theme {
  --color-brand-CreamPink: #eddddd;
  --color-brand-SecondPink: #c8adac;
  --color-brand-Purple: #2d0d2c;
  --color-brand-Black: #1a1a1a;
  --color-brand-Beige: #fdf6ec;
  --font-primary: "Inter", "ui-sans-serif", "system-ui";
}

.button {
  @apply px-6 py-2 bg-brand-Purple text-white rounded-md;
}

.inputStyle {
  @apply p-3 border-1 border-brand-Purple rounded-md  shadow-md bg-brand-Beige;
}
